@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

body {
    text-align: center;
    background: #272626;
    color: #f5deb3;
    font-weight: 100;
    font-family: sans-serif;
    overflow: hidden;
}
div.container {
    min-height: 80vh;
}
h1 {
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    text-indent: .3em;
    margin-bottom: 3em;
}
span.logo::after {
    content: "A";
}
span.logo::before {
    content: "W";
}
span.logo::after,
span.logo::before {
    padding: .1em .5em;
    border: 1px solid #f5deb3;
    transform: translateX(0px) translateY(-20px);
    animation: rotate 10s ease infinite;
}
div.temperature {
    margin-top: 20vh;
    font-weight: 100;
    font-size: 2em;
}
h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}
button, button#view-full-report {
    margin-top: 3em;
    background: unset;
    border: 1px solid gray;
    padding: .7em;
    border-radius: .3em;
    cursor: pointer;
    color: gray;
}
button#exit {
    color: #f5deb3;
    border: 1px solid #f5deb3;
    margin: 2vh 0;
}
div#full-report {
    display: none;
    position: absolute;
    top: 0em;
    background: black;
    width: 100%;
    min-height: 90vh;
    padding: 10vh 0;
}
div#full-report table {
    width: 80%;
    border: 1px solid wheat;
    border-radius: .2em;
    margin: auto;
    text-align: left;
}
div#full-report table td, div#full-report table th {
    border-bottom: 1px solid wheat;
    border-right: 1px solid wheat;
    border-left: 1px solid wheat;
    padding: .7em;
}
div#full-report table th {
    font-weight: 900;
}
img.weather {
    height: 20px;
    width: 20px;
    padding: 0 10px;
}
footer {
    padding: 3vh 2vh;
    font-size: 1em;
}
footer a {
    color: #ecbb61;
    font-weight: 600;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    footer {
        text-align: justify;
        text-justify: inter-character;
    }
}